In [7]:
import pandas as pd
import numpy as np

In [3]:
pd.Series(data = [-5, 1.3, 21, 6, 3]) #default index 0,1,2...

0    -5.0
1     1.3
2    21.0
3     6.0
4     3.0
dtype: float64

In [10]:
s=pd.Series(data = [-5, 1.3, 21, 6, 3],
          index = ['a', 'b', 'c', 'd', 'e']) #custom index

In [5]:
pd.Series(data = {'a': 10, 'b': 20, 'c': 30}) #from dictionary

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(data = np.random.randn(3)) #random values

0    0.707719
1    1.279173
2    0.979275
dtype: float64

In [11]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [12]:
s.to_numpy()

array([-5. ,  1.3, 21. ,  6. ,  3. ])

In [13]:
s = pd.Series(data = range(5),
              index = ['A', 'B', 'C', 'D', 'E'])
s

A    0
B    1
C    2
D    3
E    4
dtype: int64

In [14]:
"A" in s

True

In [15]:
s1 = pd.Series(data = range(4),
               index = ["A", "B", "C", "D"])
s1

A    0
B    1
C    2
D    3
dtype: int64

In [16]:
s2 = pd.Series(data = range(10, 14),
               index = ["B", "C", "D", "E"])
s2

B    10
C    11
D    12
E    13
dtype: int64

In [17]:
s1 + s2

A     NaN
B    11.0
C    13.0
D    15.0
E     NaN
dtype: float64

In [18]:
s1 ** 2

A    0
B    1
C    4
D    9
dtype: int64

In [19]:
np.exp(s1)

A     1.000000
B     2.718282
C     7.389056
D    20.085537
dtype: float64

In [20]:
s1.mean()

1.5

In [21]:
s1.sum()

6

In [22]:
s1.astype(float)

A    0.0
B    1.0
C    2.0
D    3.0
dtype: float64

In [23]:
s1.add(3.141).pow(2).mean().astype(int)

22

In [24]:
pd.DataFrame([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]])

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [25]:
pd.DataFrame([[1, 2, 3],
              [4, 5, 6],
              [7, 8, 9]],
             index = ["R1", "R2", "R3"],
             columns = ["C1", "C2", "C3"])

    C1  C2  C3
R1   1   2   3
R2   4   5   6
R3   7   8   9

In [26]:
pd.DataFrame(np.random.randn(5, 5),
             index=[f"row_{_}" for _ in range(1, 6)],
             columns=[f"col_{_}" for _ in range(1, 6)])

          col_1     col_2     col_3     col_4     col_5
row_1 -0.633046  0.061517 -2.006379 -0.382085  0.307716
row_2 -0.334696  0.079929  0.904423  2.282967 -0.433145
row_3  2.019582  0.345678 -0.985405 -0.762446 -0.981541
row_4 -1.602547 -0.750217 -0.599189  0.633783 -2.766029
row_5  1.093441  0.633682  0.882317  1.408769  0.370307

In [27]:
df = pd.DataFrame({"Name": ["Tom", "Mike", "Tiffany"],
                   "Language": ["Python", "Python", "R"],
                   "Courses": [5, 4, 7]})
df

      Name Language  Courses
0      Tom   Python        5
1     Mike   Python        4
2  Tiffany        R        7

In [28]:
df['Name']  # returns a series

0        Tom
1       Mike
2    Tiffany
Name: Name, dtype: object

In [29]:
df[['Name']]  # returns a dataframe!

      Name
0      Tom
1     Mike
2  Tiffany

iloc for indexing with integers and loc for indexing through labels

In [30]:
df.iloc[0]  # returns a series

Name           Tom
Language    Python
Courses          5
Name: 0, dtype: object

In [31]:
df.iloc[0:2]  # slicing returns a dataframe

   Name Language  Courses
0   Tom   Python        5
1  Mike   Python        4

In [32]:
df.iloc[2, 1]  # returns the indexed object

'R'

In [33]:
df.iloc[[0, 1], [1, 2]]  # returns a dataframe

  Language  Courses
0   Python        5
1   Python        4

In [34]:
df.loc[[0, 2], ['Language']]

  Language
0   Python
2        R

In [35]:
df[df['Name'] == "Tom"]

  Name Language  Courses
0  Tom   Python        5

In [36]:
df.query("Courses > 4 & Language == 'Python'")

  Name Language  Courses
0  Tom   Python        5

In [42]:
path="C:/Users/KARTIK/OneDrive/Desktop/Python/data.csv"
df = pd.read_csv(path)
df

           Car       Model  Volume  Weight  CO2
0       Toyoty        Aygo    1000     790   99
1   Mitsubishi  Space Star    1200    1160   95
2        Skoda      Citigo    1000     929   95
3         Fiat         500     900     865   90
4         Mini      Cooper    1500    1140  105
5           VW         Up!    1000     929  105
6        Skoda       Fabia    1400    1109   90
7     Mercedes     A-Class    1500    1365   92
8         Ford      Fiesta    1500    1112   98
9         Audi          A1    1600    1150   99
10     Hyundai         I20    1100     980   99
11      Suzuki       Swift    1300     990  101
12        Ford      Fiesta    1000    1112   99
13       Honda       Civic    1600    1252   94
14      Hundai         I30    1600    1326   97
15        Opel       Astra    1600    1330   97
16         BMW           1    1600    1365   99
17       Mazda           3    2200    1280  104
18       Skoda       Rapid    1600    1119  104
19        Ford       Focus    2000    1328  105
20        Ford      Mondeo    1600    1584   94
21        Opel    Insignia    2000    1428   99
22    Mercedes     C-Class    2100    1365   99
23       Skoda     Octavia    1600    1415   99
24       Volvo         S60    2000    1415   99
25    Mercedes         CLA    1500    1465  102
26        Audi          A4    2000    1490  104
27        Audi          A6    2000    1725  114
28       Volvo         V70    1600    1523  109
29         BMW           5    2000    1705  114
30    Mercedes     E-Class    2100    1605  115
31       Volvo        XC70    2000    1746  117
32        Ford       B-Max    1600    1235  104
33         BMW         216    1600    1390  108
34        Opel      Zafira    1600    1405  109
35    Mercedes         SLK    2500    1395  120

In [41]:
df.min()

Car       Audi
Model        1
Volume     900
Weight     790
CO2         90
dtype: object

In [44]:
df['CO2'].min()

90

In [46]:
df['CO2'].idxmin()

3

In [47]:
df.iloc[20]

Car         Ford
Model     Mondeo
Volume      1600
Weight      1584
CO2           94
Name: 20, dtype: object

In [52]:
df.sum()

Car       ToyotyMitsubishiSkodaFiatMiniVWSkodaMercedesFo...
Model     AygoSpace StarCitigo500CooperUp!FabiaA-ClassFi...
Volume                                                58000
Weight                                                46522
CO2                                                    3673
dtype: object

In [59]:
df[['CO2','Volume']].mean()

CO2        102.027778
Volume    1611.111111
dtype: float64

In [60]:
df.sort_values(by='CO2')

           Car       Model  Volume  Weight  CO2
3         Fiat         500     900     865   90
6        Skoda       Fabia    1400    1109   90
7     Mercedes     A-Class    1500    1365   92
20        Ford      Mondeo    1600    1584   94
13       Honda       Civic    1600    1252   94
1   Mitsubishi  Space Star    1200    1160   95
2        Skoda      Citigo    1000     929   95
15        Opel       Astra    1600    1330   97
14      Hundai         I30    1600    1326   97
8         Ford      Fiesta    1500    1112   98
0       Toyoty        Aygo    1000     790   99
23       Skoda     Octavia    1600    1415   99
24       Volvo         S60    2000    1415   99
16         BMW           1    1600    1365   99
22    Mercedes     C-Class    2100    1365   99
21        Opel    Insignia    2000    1428   99
10     Hyundai         I20    1100     980   99
9         Audi          A1    1600    1150   99
12        Ford      Fiesta    1000    1112   99
11      Suzuki       Swift    1300     990  101
25    Mercedes         CLA    1500    1465  102
26        Audi          A4    2000    1490  104
32        Ford       B-Max    1600    1235  104
17       Mazda           3    2200    1280  104
18       Skoda       Rapid    1600    1119  104
5           VW         Up!    1000     929  105
4         Mini      Cooper    1500    1140  105
19        Ford       Focus    2000    1328  105
33         BMW         216    1600    1390  108
34        Opel      Zafira    1600    1405  109
28       Volvo         V70    1600    1523  109
27        Audi          A6    2000    1725  114
29         BMW           5    2000    1705  114
30    Mercedes     E-Class    2100    1605  115
31       Volvo        XC70    2000    1746  117
35    Mercedes         SLK    2500    1395  120

In [61]:
df.sort_index(ascending=False)

           Car       Model  Volume  Weight  CO2
35    Mercedes         SLK    2500    1395  120
34        Opel      Zafira    1600    1405  109
33         BMW         216    1600    1390  108
32        Ford       B-Max    1600    1235  104
31       Volvo        XC70    2000    1746  117
30    Mercedes     E-Class    2100    1605  115
29         BMW           5    2000    1705  114
28       Volvo         V70    1600    1523  109
27        Audi          A6    2000    1725  114
26        Audi          A4    2000    1490  104
25    Mercedes         CLA    1500    1465  102
24       Volvo         S60    2000    1415   99
23       Skoda     Octavia    1600    1415   99
22    Mercedes     C-Class    2100    1365   99
21        Opel    Insignia    2000    1428   99
20        Ford      Mondeo    1600    1584   94
19        Ford       Focus    2000    1328  105
18       Skoda       Rapid    1600    1119  104
17       Mazda           3    2200    1280  104
16         BMW           1    1600    1365   99
15        Opel       Astra    1600    1330   97
14      Hundai         I30    1600    1326   97
13       Honda       Civic    1600    1252   94
12        Ford      Fiesta    1000    1112   99
11      Suzuki       Swift    1300     990  101
10     Hyundai         I20    1100     980   99
9         Audi          A1    1600    1150   99
8         Ford      Fiesta    1500    1112   98
7     Mercedes     A-Class    1500    1365   92
6        Skoda       Fabia    1400    1109   90
5           VW         Up!    1000     929  105
4         Mini      Cooper    1500    1140  105
3         Fiat         500     900     865   90
2        Skoda      Citigo    1000     929   95
1   Mitsubishi  Space Star    1200    1160   95
0       Toyoty        Aygo    1000     790   99

In [62]:
df.head(10) #by default 5

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105
5          VW         Up!    1000     929  105
6       Skoda       Fabia    1400    1109   90
7    Mercedes     A-Class    1500    1365   92
8        Ford      Fiesta    1500    1112   98
9        Audi          A1    1600    1150   99

In [63]:
df.tail(3) #by default 5

         Car   Model  Volume  Weight  CO2
33       BMW     216    1600    1390  108
34      Opel  Zafira    1600    1405  109
35  Mercedes     SLK    2500    1395  120

In [64]:
df.shape #(rows, columns)

(36, 5)

In [65]:
df.info() # provides information about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     36 non-null     object
 1   Model   36 non-null     object
 2   Volume  36 non-null     int64
 3   Weight  36 non-null     int64
 4   CO2     36 non-null     int64
dtypes: int64(3), object(2)
memory usage: 1.5+ KB

In [66]:
df.describe() # statistical summary of numerical columns

            Volume       Weight         CO2
count    36.000000    36.000000   36.000000
mean   1611.111111  1292.277778  102.027778
std     388.975047   242.123889    7.454571
min     900.000000   790.000000   90.000000
25%    1475.000000  1117.250000   97.750000
50%    1600.000000  1329.000000   99.000000
75%    2000.000000  1418.250000  105.000000
max    2500.000000  1746.000000  120.000000

In [68]:
df.style.background_gradient('plasma')

In [81]:
df.dropna()
df.fillna(0)

           Car       Model  Volume  Weight  CO2
0       Toyoty        Aygo    1000     790   99
1   Mitsubishi  Space Star    1200    1160   95
2        Skoda      Citigo    1000     929   95
3         Fiat         500     900     865   90
4         Mini      Cooper    1500    1140  105
5           VW         Up!    1000     929  105
6        Skoda       Fabia    1400    1109   90
7     Mercedes     A-Class    1500    1365   92
8         Ford      Fiesta    1500    1112   98
9         Audi          A1    1600    1150   99
10     Hyundai         I20    1100     980   99
11      Suzuki       Swift    1300     990  101
12        Ford      Fiesta    1000    1112   99
13       Honda       Civic    1600    1252   94
14      Hundai         I30    1600    1326   97
15        Opel       Astra    1600    1330   97
16         BMW           1    1600    1365   99
17       Mazda           3    2200    1280  104
18       Skoda       Rapid    1600    1119  104
19        Ford       Focus    2000    1328  105
20        Ford      Mondeo    1600    1584   94
21        Opel    Insignia    2000    1428   99
22    Mercedes     C-Class    2100    1365   99
23       Skoda     Octavia    1600    1415   99
24       Volvo         S60    2000    1415   99
25    Mercedes         CLA    1500    1465  102
26        Audi          A4    2000    1490  104
27        Audi          A6    2000    1725  114
28       Volvo         V70    1600    1523  109
29         BMW           5    2000    1705  114
30    Mercedes     E-Class    2100    1605  115
31       Volvo        XC70    2000    1746  117
32        Ford       B-Max    1600    1235  104
33         BMW         216    1600    1390  108
34        Opel      Zafira    1600    1405  109
35    Mercedes         SLK    2500    1395  120